<!DOCTYPE html>
<html>
  <head>
      <title> Quiz </title>
      <link rel='stylesheet' href='/stylesheets/styles.css' />
</head>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js"></script>
  <script>
      var categoryName = '<%=folder%>';
      var idNum = <%=id%>
      var bucketName = 'studentcourse'
      var countFiles = 0;
      var bucketRegion = 'us-east-1';
      AWS.config.update({
        region: bucketRegion,
       });
      var s3 = new AWS.S3({
        params: {Bucket: bucketName}
      });
    console.log('idnum:'+idNum);

 function showButton(categoryName, idNum)
  {
    var folderKey = encodeURIComponent(categoryName) + '/'; //use FolderName here
  s3.listObjects({Prefix: folderKey}, function(err, data) {

    if (err) {
      return alert('There was an error viewing your folder: ' + err.message);
    }
    var href = this.request.httpRequest.endpoint.href;
    var bucketUrl = href + bucketName + '/';
 //   var countFiles = 0;

  var courseImg = data.Contents.map(function(res){
    //check if user has uploaded image, and if he has, then increment count
     var fileKey = res.Key;
     var filName = fileKey.replace(folderKey, '');
     var substring = categoryName + '_quiz'; //use FolderName here 
     if(filName != '' && !filName.toUpperCase().includes(substring.toUpperCase()))
     {
       countFiles++;

     }
//    console.log('countFiles:' + countFiles);
    });
console.log('countFiles:' + countFiles);
if(countFiles == idNum) //put value of ur slidenumber instead of 4
  {
        document.getElementById("next").style.visibility = "hidden";
  }
});
}
 showButton(categoryName, idNum);
</script>
<body class="divbody">
  <h1 class="h1css">Welcome to ITOTS!</h1>
  <label class="logoutPos">
      <input type=button onClick="location.href='https://project2.auth.us-east-1.amazoncognito.com/login?response_type=token&client_id=5p39s85v7mikvqbak1gmc80f29&redirect_uri=https://d2aed6h3zvv2he.cloudfront.net/index.html'" value='Logout' class="buttons"> 
  </label>
  <div id="learningslidePage" class="learningmargin"> 
    <h1>Quiz</h1>
  </div>
  <div class="textquizmargin">
 <h2>Choose the picture with <%=quiz_label_right %></h2>
</div>
 <p id="label"> </p>
 <div class="quizmargin">
<form name="theFormName">
  <div id="radio">
    <input type="radio" id="radio1" name="radiogrp" value = <%=firstVal%>><label for="radio1"><img src=<%= firstImageURL %> height="400" width="400" /> </label></input>
    <input type="radio" id="radio2" name="radiogrp" value = <%=secondVal%>><label for="radio2"><img src=<%= secondImageURL %>  height="400" width="400" /> </label></input>
    <br>
    <input type="button" value = "Check" onclick="getRadioValue('radiogrp')" class="buttons">
    <input type=button onClick="location.href='<%=next_url%>'" value=Next class="buttons" id="next">  
</div>
</form>
</div>
<script type = "text/javascript">
function calculateWrongImageURL(){
        numberOfSlidesInEachCategory = 4;
          var randomCategoryNum = numberOfSlidesInEachCategory;
                do{
                randomCategoryNum = Math.floor(Math.random() * numberOfSlidesInEachCategory) + 1;
                }while(randomCategoryNum==categoryNum);
                //console.log(randomCategoryNum);
        console.log(wrongImageURL);
        document.getElementById('wrongImageURL').src = wrongImageURL;
}
 function getRadioValue(radiogrp) {
    var radios = theFormName.elements[radiogrp];
    window.rdValue;
    for (var i=0; i<radios.length; i++) {
                var someRadio = radios[i];
                if (someRadio.checked) {
                    rdValue = someRadio.value;
                    break;
                }
                else rdValue = 'noRadioChecked';
            }
            if (rdValue == '10') {
               alert('Good job! That is correct.'); // or: console.log('10')
            }
            else if(rdValue == '20') {
		alert('Oops! That is wrong'); 
            }
            else if (rdValue == 'noRadioChecked') {
                alert('Please choose one option!');
            }
        }
</script>

</body>
</html>

